<h1>Event Clothing Selector</h1>
<div class="pullDown">
    <select id="event-type">
        <option value="wedding">Wedding</option>
        <option value="party">Party</option>
        <option value="formal">Formal Event</option>
        <option value="beach">Beach</option>
        <option value="gym">Gym or Exercise</option>
        <option value="casual">Casual Event</option>
    </select>
</div>
<div id="clothing-data"></div>

<script src="/clothes.js"></script>