<h1>Welcome to dressCode!!</h1>
<div>
    {{#each attires}}
        <div>
            <p>Weather: {{this.weather}}</p>
            <p>Event: {{this.event}}</p>
            <p>Suggestion: {{this.suggestion}}</p>
        </div>
    {{/each}}
</div>
