

<body class="bg">
  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to dressCode!</h1>
      <p class="lead">Let us help you dress to impress!</p>
     
    </div>
    <div class="card text-center" style="width: 18rem; margin: auto;">
      <img src="img/dresscode.jpg"
        class="card-img-top" alt="dressCode pic">
      <div class="card-body">
        <h5 class="card-title">Attire Help</h5>
        <p class="card-text">Choose an event, and we'll suggest the perfect attire for you. Please <b>sign in</b> to get started!</p>

      </div>
    </div>
  </div>

</body>

</html>